

/** Billing Form */
.billing {
	width: 60%;
	margin: 0 auto;
	padding: 2.5em;
	background-color: #FFFFFF;
	border-radius: 5px;
	border-top: 5px solid #00C73C;
	color: #616161;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
}
.billing h1 {
	display: inline-block;
}
.billing span {
	float: right;
	font-size: 0.75em;
}
.billing span a {
	color: #616161;
}
.billing-header {
	padding-bottom: 0.75em;
	margin-bottom: 1.625em;
	border-bottom: 1px dotted #e0e0e0;
}
.billing-header:after {
	content: "";
	display: block;
	clear: both;
}
.billing-header a {
	text-decoration: underline;
}
.billing-header a:hover {
	text-decoration: none;
}
.billing-form:after {
	content: "";
	display: block;
	clear: both;
}
.billing-form .col6,
.billing-form .col12 {
	padding: 1.5%;
}

.billing-form span {
	margin-bottom: 0.25em;
	font-style: italic;
}
.billing-form fieldset {
	border: 2px dotted #e0e0e0;
	padding: 4% 3%;
	margin-bottom: 5%;
}
.billing-form fieldset:last-child {
	border: none;
	padding: 0 3%;
}
.billing-form fieldset legend {
	padding: 0 1.5%;
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.billing-form input,
.billing-form button {
	display: block;
	width: 100%;
}
.billing-form label {
	cursor: pointer;
}
.billing-form input[type="text"] {
	width: 100%;
	height: 2.5em;
	padding: 0.3125em;
	margin-top: 0.3125em;
	margin-bottom: 0.75em;
	font-size: 1.25em;
	color: rgba(0,0,0,0.6);
	border: 1px solid #E0E0E0;
	border-radius: 3px;
}
.billing-form input[type="text"]:focus {
	border: 3px solid #E0E0E0;
	border-radius: 3px;
}
.billing-form input[type="checkbox"] {
	display: inline-block;
    width: 30px;
    height: 25px;
    border-radius: 10px;
    border: 1px solid #E0E0E0;
    cursor: pointer;
}



/** Payment SCHEDULE FORM */
.payment {
	position: relative;
	width: 50%;
	margin: 0 auto;
	padding: 4.5em 2.5em 2.5em 2.5em;
	background-color: #FFFFFF;
	border-radius: 5px;
	border-top: 5px solid #00C73C;
	color: #616161;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
}
.payment h1 {
	display: inline-block;
}
.payment span {
	float: right;
	font-size: 0.75em;
}
.payment-form span {
	margin-bottom: 0.25em;
	font-style: italic;
}
.payment span a {
	color: #616161;
}
.payment-secure {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	padding: 2%;
	background-color: #00C73C;
	color: #FFFFFF;
	text-align: center;
	box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
}
.payment-header {
	padding: 1.5%;
	margin-bottom: 0.75em;
	border-bottom: 1px dotted #e0e0e0;
}
.payment-header:after {
	content: "";
	display: block;
	clear: both;
}
.payment-form:after {
	content: "";
	display: block;
	clear: both;
}
.payment-form .col2,
.payment-form .col3,
.payment-form .col4,
.payment-form .col5,
.payment-form .col6,
.payment-form .col7,
.payment-form .col8,
.payment-form .col9,
.payment-form .col10,
.payment-form .col11,
.payment-form .col12 {
	padding: 1.5%;
}
.payment-form img {
	opacity: 0.8;
}
.payment-form input,
.payment-form button {
	display: block;
	width: 100%;
}
.payment-form label {
	display: inline-block;
}
.payment-form label:after {
	content: "";
	display: block;
	clear: both;
}
.payment-form input[type="email"],
.payment-form input[type="text"],
.payment-form input[type="date"],
.payment-form input[type="time"],
.payment-form select,
.payment-form textarea {
	width: 100%;
	height: 2.5em;
	padding: 0.3125em;
	margin-top: 0.3125em;
	
	font-size: 1.25em;
	color: rgba(0,0,0,0.6);
	border: 1px solid #E0E0E0;
	border-radius: 3px;
}
.payment-form input[type="email"]:focus,
.payment-form input[type="text"]:focus,
.payment-form input[type="date"]:focus,
.payment-form input[type="time"]:focus,
.payment-form select:focus,
.payment-form textarea:focus {
	border: 3px solid #E0E0E0;
}
.payment-form p.label {
	background-color: #e0e0e0;
	color: #999999;
	text-align: center;
	padding: 2% 0;
}
.visa-img, .cvv {
	margin-top: 0.3125em;
}
/** Payment Form */