table {
	text-align: center;
	margin: 2em auto;
	width: 60%;
}

.step-bar {
	width: 25px;
	height: 25px;
	margin: 0 auto;
	border-radius: 100%;
	background-color: rgb(224,80,56);
	line-height: 25px;
	vertical-align: middle;
	font-size: 1.3em;
	color: white;
}

.steps {
	width: 10%;
	font-size: 0.8em;
	font-family: 'Raleway', sans-serif;
}

.line {
	width: 100px;
	height: 1px;
	background-color: rgb(224,80,56);
	margin-left: auto;
	margin-right: auto;
}

.previous {
	opacity: 0.4;
}

.next {
	background-color: rgba(0,0,0,0.3);
}

.next-tx {
	color: rgba(0,0,0,0.4);
}

form {
	width: 40%;
	margin: 40px auto;
	padding: 30px;
	font-family: 'Raleway', sans-serif;
}

fieldset {
	padding: 20px;
	margin: 0 auto 40px;
	border: 1px solid rgba(0,0,0,0.3);
}

legend {
	font-size: 1.2em;
	color: rgba(0,0,0,0.6);
}

label {
	float: left;
	width: 30%;
	height: 16px;
	line-height: 16px;
	margin-left: 15px;
	padding: 5px;
}

input, select {	
	padding: 5px 10px;
	margin-bottom: 10px;
	border: 1px solid #f0f0f0;
	background-color: #f0f0f0;
	transition: 1s;
}

fieldset input, select {
	height: 30px;
}

select {
	width: 50%;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 0;
}

fieldset input {
	width: 50%;
}

input:focus, select:focus {
	border-color: rgba(229, 245, 255, 0.6);
	box-shadow: 2px 2px 2px rgba(229, 245, 255, 1);
}

/*input[type="checkbox"] ~ div.shipping {*/
	/*display: block;*/
/*}*/

input[type="checkbox"]:checked ~ div#shipping {
	display: none;
}

input[type="submit"] {
	display: block;
	float: right;
	width: 20%;
	height: 40px;
	line-height: 25px;
	margin-top: 20px;
	border: 1px solid #FF8A65;
	background-color: #FF8A65;
	color: white;
	font-size: 1em;
	transition: 1s;
}

input[type="submit"]:hover {
	border: 1px solid rgb(224,80,56);
	background-color: rgb(224,80,56);
}

.required::after {
	content: " *";
	color: rgb(224,80,56);
	font-size: larger;
}

input.invalid {
	border-color: rgb(224, 47, 47);
	box-shadow: 2px 2px 2px rgba(224, 47, 47, 0.7),-2px -2px 2px rgba(224, 47, 47, 0.7);
}

select.invalid {
	border-color: rgb(224,80,56);
}
