/** Billing Form */
.billing {
	width: 60%;
	margin: 0 auto;
	padding: 2.5em;
	background-color: #FFFFFF;
	border-radius: 5px;
	border-top: 5px solid #00C73C;
	color: #616161;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
}
.billing h1 {
	display: inline-block;
}
.billing span {
	float: right;
	font-size: 0.75em;
}
.billing span a {
	color: #616161;
}
.billing-header {
	padding-bottom: 0.75em;
	margin-bottom: 1.625em;
	border-bottom: 1px dotted #e0e0e0;
}
.billing-header:after {
	content: "";
	display: block;
	clear: both;
}
.billing-header a {
	text-decoration: underline;
}
.billing-header a:hover {
	text-decoration: none;
}
.billing-form:after {
	content: "";
	display: block;
	clear: both;
}
.billing-form .col6,
.billing-form .col12 {
	padding: 1.5%;
}

.billing-form span {
	margin-bottom: 0.25em;
	font-style: italic;
}
.billing-form fieldset {
	border: 2px dotted #e0e0e0;
	padding: 4% 3%;
	margin-bottom: 5%;
}
.billing-form fieldset:last-child {
	border: none;
	padding: 0 3%;
}
.billing-form fieldset legend {
	padding: 0 1.5%;
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.billing-form input,
.billing-form button {
	display: block;
	width: 100%;
}
.billing-form label {
	cursor: pointer;
}
.billing-form input[type="text"] {
	width: 100%;
	height: 2.5em;
	padding: 0.3125em;
	margin-top: 0.3125em;
	margin-bottom: 0.75em;
	font-size: 1.25em;
	color: rgba(0,0,0,0.6);
	border: 1px solid #E0E0E0;
	border-radius: 3px;
}
.billing-form input[type="text"]:focus {
	border: 3px solid #E0E0E0;
	border-radius: 3px;
}
.billing-form input[type="checkbox"] {
	display: inline-block;
    width: 30px;
    height: 25px;
    border-radius: 10px;
    border: 1px solid #E0E0E0;
    cursor: pointer;
}

.same-for-billing {
	line-height:30px;
	overflow: hidden;
}

.same-for-billing input {
	float: left;
}

.same-for-billing span {
	font-size: 0.8em;
	float: left;
}